* {
    padding: 0;
    margin: 0;
  }
  
  
  body {
    background: url(./portfolio-background-final.jpg) no-repeat center bottom fixed; 
    background-size: cover;
    align-self: auto;
  } 
 
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    margin-top: 10px;
    position: relative;
    padding: 0 20px;
  }
  .name {
    position: fixed;
    height: auto;
    width:100vw;
    text-align: center;
    top: 10%;
    margin: 0 auto;
    font-family: 'Viga', sans-serif;
    font-size: 3.3em;
    letter-spacing: -1mm;
    line-height: 1.6em;
  }
  h1 {
    display: inline-block;
    color: #FF0050;
  }
  .name h2 {
    margin-top: -30px;
    display: flex;
    justify-content: center;
    font-size: .7em;
    color: #00ffff;
    letter-spacing: 0mm;
  }
  
  .image-container {
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    width: 100%;
    height: 60%;
    transition: .8s;
  }
  .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit minmax(200px, 1fr));
      grid-template-rows: repeat(auto-fit minmax(200px, 1fr));
      grid-gap: 10px;
  }
  .item {
    background-color: #C4C4C4;
    opacity: 0.5;  
    
  }
  
  .menu-item {
    text-align: center;
    font-family: 'Viga', sans-serif;
    font-size: 20px;
    color:#FFFFFF;
  }
  .nav-link-class {
  }
  
  .image {
    height: 120%;
    width: auto;
  }
  #middle {
    align-self: flex-end;
    content: url(./paul-haduken.png);
  }
  #contact:hover {
      color:#FF0050;
  }
  #bio:hover {
    color:#FF0050;
}
  #projects:hover {
    color:#FF0050;
}
  
  /* #projects:hover ~ .image-container #middle {
    content: url(./paul-laptop.png);
    animation: appear 2s;
  }
  #bio:hover ~ .image-container #middle {
    content:url(./paul-bio.png);
    animation: appear 2s;
  }
  
  #contact:hover ~ .image-container #middle {
    content:url(./paul-phone.png);
    animation: appear 2s;
  }
  @keyframes appear {
    0% {
        opacity: 0;
    }
   
    100% {
        opacity: 1; 
    }
  } */